@import "fonts";
@import "_typography";
@import "_icons";

$animation_speed: 0.25s;

@import "_calc";

*{
    outline: none;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: #000000;
    @media (min-width: 1024px){
        background-image: url('@img/bg.png');
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
    }
}

.container{
    padding: 0 30px;
    margin: 0 auto;
    width: 100%;
    @media (min-width: 1600px) {
        max-width: 1560px;
    }
    @media (min-width: 1440px) {
        max-width: 1290px;
    }
    @media (min-width: 1024px) {
        max-width: 1028px;
    }
    @media (min-width: 768px) {
        max-width: 768px;
    }
}